.dash_cards3 {
    display: flex;
    gap: 1rem;
    margin-inline: 1rem;
    justify-content: space-evenly;
}

.cards3_table {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: white;
    border-radius: 5px;
    padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.cards3_table h3 {
    margin-left: 1rem;
}

.cards3_graphs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.graphs {
    background: white;
    border-radius: 5px;
    padding: 0.5rem;
    gap: 0.75rem;
}

.graphs>img {
    width: 100%;
}

.graphs_info {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding-inline: 0.75rem;
}

.cards3_graph_legend {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cards3_graph_legend span {
    display: flex;
    align-items: center;
    gap: 0.15rem;
}

.tenth :first-child {
    fill: #4198D7;
}

.ninth :first-child {
    fill: #F5C767;
}

.eighth :first-child {
    fill: #7A61BA;
}

.seventh :first-child {
    fill: #39A767;
}

.batch {
    margin-left: 1rem;
}

.cards3_cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards3_cards_card {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    height: 50%;
}

.card_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_data {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.bday_info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bday_info div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.bday_info img {
    width: 25%;
    border-radius: 50%;
}

.cupcake {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 2.5rem;
    color: #E55D68;
    margin: 0 1rem;
}