.dash_cards3 {
    display: flex;
    gap: 1rem;
    margin-inline: 1rem;
    justify-content: space-evenly;
}

.cards3_table {
    background: white;
    border-radius: 5px;
    padding: 0.5rem;
}

.cards3_graphs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.graphs {
    background: white;
    border-radius: 5px;
    padding: 0.5rem;
}