.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(208, 128, 130), rgb(85, 95, 196));
    color: white;
    height: 100%;
}

.navbar button {
    font-size: 2rem;
    color: white;
}

.nav_Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0 1rem;
    cursor: pointer;
}

.dash_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.user_logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.user_logos img {
    width: 2rem;
    border-radius: 50%;
}

.dash_logos button:hover {
    background: rgba(211, 211, 211, 0.5);
    width: 3rem;
}

.horizontal_line {
    border: none;
    width: 100%;
    border-top: 1px solid var(--white);
}

.menu_logo {
    display: none;
}

@media (max-width:900px) {
    .navbar {
        flex-direction: row;
        width: 100vw;
        justify-content: space-between;
    }

    .dash_logos,
    .user_logos,
    .horizontal_line {
        display: none;
    }

    .menu_logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
    }
}