.dash_cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline: 1rem;
    gap: 1rem;
}

.cards2_graph {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
    padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.cards2_graph_info {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-inline: 1rem;
}

.cards2_graph_data>img {
    width: 100%;
}

.cards2_graph_legend {
    display: flex;
    gap: 1rem;
}

.cards2_graph_legend span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.student :first-child {
    fill: #EEA06B;
}

.employee :first-child {
    fill: #2E75B6;
}

.card2_progress {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: white;
    border-radius: 5px;
    width: 10rem;
}

.progress-bar1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#8A368B 90%, lightgrey 0);
}

.progress-bar1::before {
    content: "95%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.progress-bar2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#EC5C42 60%, lightgrey 0);
}

.progress-bar2::before {
    content: "60%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.progress-bar3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#289995 80%, lightgrey 0);
}

.progress-bar3::before {
    content: "80%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.progress-bar4 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#31A1C1 20%, lightgrey 0);
}

.progress-bar4::before {
    content: "20%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.cards2_calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    gap: 1rem;
}

.cards2_calendar_info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
}

.cards2_calendar_legend {
    display: flex;
    gap: 1rem;
}

.cards2_calendar_legend span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.event :first-child {
    fill: #8A368B;
}

.holiday :first-child {
    fill: #31A1C1;
}