.dash_cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-inline: 1rem;
    gap: 1rem;
}

.cards2_graph {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
    padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.cards2_graph_info {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-inline: 1rem;
}

.cards2_graph_data>img {
    width: 100%;
}

.cards2_graph_legend {
    display: flex;
    gap: 1rem;
}

.cards2_graph_legend span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.student :first-child {
    fill: #EEA06B;
}

.employee :first-child {
    fill: #2E75B6;
}

.card2_progress {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: white;
    border-radius: 5px;
    width: 10rem;
}

.progress_size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.progress-bar1 {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#8A368B 90%, lightgrey 0);
}

.progress-bar1::before {
    content: "95%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--progress_width);
    height: var(--progress_height);
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: var(--fs);
}

.progress-bar2 {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#EC5C42 60%, lightgrey 0);
}

.progress-bar2::before {
    content: "60%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--progress_width);
    height: var(--progress_height);
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: var(--fs);

}

.progress-bar3 {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#289995 80%, lightgrey 0);
}

.progress-bar3::before {
    content: "80%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--progress_width);
    height: var(--progress_height);
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: var(--fs);

}

.progress-bar4 {
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(#31A1C1 20%, lightgrey 0);
}

.progress-bar4::before {
    content: "20%";
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--progress_width);
    height: var(--progress_height);
    border-radius: 50%;
    box-Shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    font-size: var(--fs);

}

.cards2_calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 5px;
    gap: 1rem;
}

.cards2_calendar_info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
}

.cards2_calendar_legend {
    display: flex;
    gap: 1rem;
}

.cards2_calendar_legend span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.event :first-child {
    fill: #8A368B;
}

.holiday :first-child {
    fill: #31A1C1;
}


@media (min-width:1024px) {
    .cards2_graph {
        flex: 1.5;
    }

    .progress {
        width: 8.115rem;
    }

}

@media (min-width:1200px) {
    .cards2_graph {
        flex: 2;
    }

    /* .progress {
        width: 8rem;
    } */
}

@media (min-width:1536px) {
    .progress {
        width: 10rem;
    }

    .progress_size {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media (min-width:900px) {
    .progress_size {
        width: 5.5rem;
        height: 5.5rem;
    }
}

@media (max-width:1024px) {
    .cards2_graph {
        flex: none;
    }

    .progress {
        width: 8.25rem;
    }
}

@media (max-width:900px) {
    .dash_cards2 {
        flex-direction: column;
        gap: 1rem;
    }

    .cards2_graph {
        align-items: center;
    }

    .card2_progress {
        justify-content: space-evenly;
    }

    .progress h3 {
        margin-top: 1rem;
    }

    .progress div {
        margin-bottom: 1rem;
    }

    .progress {
        width: 10.5rem;
    }

    .cards2_calendar {
        padding: 1.25rem 0.5rem 0.5rem 0.5rem;
        flex: 1;
        width: auto;
    }
}

@media (max-width:768px) {
    .progress {
        width: 8.5rem;
    }

    .progress h3 {
        margin-top: 0.75rem;
    }

    .progress div {
        margin-bottom: 0.75rem;
    }
}

@media (max-width:640px) {
    .progress {
        width: 7.5rem;
    }

    .progress h3 {
        margin-top: 0.5rem;
    }

    .progress div {
        margin-bottom: 0.5rem;
    }

    .progress_size {
        width: 4.6875rem;
        height: 4.6875rem;
        font-size: 1rem;
    }
}

@media (max-width:572px) {
    .progress {
        width: 10.5rem;
    }

    .progress_size {
        width: 3.75rem;
        height: 3.75rem;
    }
}

@media (max-width:460px) {
    .progress {
        width: 8.5rem;
    }
}