.dash_cards1 {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-inline: 1rem;
}

.cards1_data {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
}

.card_bg1 {
    background: var(--crd_1);
}


.card_bg2 {
    background: var(--crd_2);
}

.card_bg3 {
    background: var(--crd_3);
}

.card_bg4 {
    background: var(--crd_4);
}

.card_bg5 {
    background: white;
}