.dash_cards1 {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards1_data {
    padding: 1rem;
    border-radius: 5px;
    width: 12rem;
}

.card_bg1 {
    background: var(--crd_1);
}


.card_bg2 {
    background: var(--crd_2);
}

.card_bg3 {
    background: var(--crd_3);
}

.card_bg4 {
    background: var(--crd_4);
}

.card_bg5 {
    background: white;
}