.table {
    width: 100%;
    text-align: center;

}


.user_info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.user_info>img {
    width: 10%;
    border-radius: 50%;
}